@charset "UTF-8";

@font-face { font-family: 'MontserratRegular'; src: url("../fonts/Montserrat-Regular.ttf") format("truetype"), url("../fonts/Montserrat-Regular.woff") format("woff"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'MontserratBold'; src: url("../fonts/Montserrat-Bold.ttf") format("truetype"), url("../fonts/Montserrat-Bold.woff") format("woff"); font-weight: normal; font-style: normal; }
html { background: #f8f8f8; height: 100%; width: 100%; -webkit-font-variant-ligatures: none; }

body { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; border-left: 1px solid #bdbdbd; border-right: 1px solid #bdbdbd; height: 100%; max-height: 100%; margin: 0 auto; background: #fff; max-width: 70em; }

body.full-screen { width: 100%; max-width: 100%; }

.header { display: -webkit-box; display: -ms-flexbox; display: flex; padding: 12px; margin-bottom: 2px; border-bottom: 1px solid #bdbdbd; }
.header img { display: block; max-width: 50px; max-height: 50px; width: auto; height: auto; }

.footer { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; padding: 14px; font-size: 10px; border-top: 1px solid #bdbdbd; }
.footer .copyright { text-align: right; }

.main { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }

.scrollable { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; margin-top: 0px; overflow: auto; -ms-overflow-style: none; }

input { font-family: 'MontserratRegular'; -webkit-font-feature-settings: "liga" 0; font-feature-settings: "liga" 0; }

textarea { font-family: 'MontserratRegular'; -webkit-font-feature-settings: "liga" 0; font-feature-settings: "liga" 0; }

.desc { font-family: 'MontserratRegular'; -webkit-font-feature-settings: "liga" 0; font-feature-settings: "liga" 0; font-size: 11px; color: #676b72; }

label { font-family: 'MontserratRegular'; -webkit-font-feature-settings: "liga" 0; font-feature-settings: "liga" 0; text-transform: uppercase; letter-spacing: .04em; font-size: 11px; }

.heading-row { margin-bottom: 18px; border-bottom: 1px solid #bdbdbd; }

.heading { font-family: 'MontserratBold'; -webkit-font-feature-settings: "liga" 0; font-feature-settings: "liga" 0; font-size: 20px; text-transform: uppercase; color: #313439; }

p { margin-top: 12px; margin-bottom: 12px; font-family: 'MontserratRegular'; -webkit-font-feature-settings: "liga" 0; font-feature-settings: "liga" 0; }

span { font-family: 'MontserratRegular'; -webkit-font-feature-settings: "liga" 0; font-feature-settings: "liga" 0; }

select { font-family: 'MontserratRegular'; -webkit-font-feature-settings: "liga" 0; font-feature-settings: "liga" 0; }

.button { font-family: 'MontserratBold'; -webkit-font-feature-settings: "liga" 0; font-feature-settings: "liga" 0; position: relative; text-transform: uppercase; letter-spacing: .02em; font-size: 14px; }

.modal .modal-header { font-family: 'MontserratBold'; -webkit-font-feature-settings: "liga" 0; font-feature-settings: "liga" 0; font-size: 20px; padding: 20px; font-weight: normal; text-transform: uppercase; letter-spacing: .01em; border-bottom: 1px solid #bdbdbd; }
.modal .close { top: 24px; right: 16px; opacity: .3; }
.modal .modal-body { padding: 18px; }

.message { font-family: 'MontserratRegular'; -webkit-font-feature-settings: "liga" 0; font-feature-settings: "liga" 0; text-transform: uppercase; font-weight: normal; font-size: 12px; letter-spacing: .02em; text-align: center; margin-bottom: 0; }

ul.nav li a { font-family: 'MontserratBold'; -webkit-font-feature-settings: "liga" 0; font-feature-settings: "liga" 0; text-transform: uppercase; font-size: 16px; }

table { margin-top: 8px; margin-bottom: 8px; -webkit-font-feature-settings: "liga" 0; font-feature-settings: "liga" 0; }
table.bordered th { border: 1px solid #bdbdbd; }
table.bordered td { border: 1px solid #bdbdbd; }

th { font-family: 'MontserratBold'; text-transform: uppercase; color: #313439; text-align: center; font-size: 18px; -webkit-font-feature-settings: "liga" 0; font-feature-settings: "liga" 0; background: #d4d4d4; }

td { font-family: 'MontserratRegular'; color: #676b72; text-align: center; font-size: 18px; -webkit-font-feature-settings: "liga" 0; font-feature-settings: "liga" 0; }

tr { -webkit-font-feature-settings: "liga" 0; font-feature-settings: "liga" 0; }
tr.row-data:hover { background-color: #1c86f2; cursor: pointer; }
tr.row-data:hover td { color: #fff; }

ul li { font-family: 'MontserratRegular'; font-weight: normal; -webkit-font-feature-settings: "liga" 0; font-feature-settings: "liga" 0; color: #313439; font-size: 16px; }

.logo { padding: 12px; width: 150px; }
.button.primary{ background-color:rgb(255, 111, 3); font-family: 'MontserratRegular';}
.logo-area img { max-width: 50%; height: auto; margin-left: auto; margin-right: auto; }

.trigger { margin-top: auto; margin-bottom: auto; padding-top: 7px; padding-bottom: 7px; padding-left: 18px; padding-right: 18px; border: 1px dotted #bdbdbd; border-radius: 3px; }

.pad-small { padding: 18px; }

.pad-medium { padding: 24px; }

.pad-large { padding: 32px; }

.pad-bottom-small { padding-bottom: 18px; }

.pad-bottom-medium { padding-bottom: 24px; }

.pad-bottom-large { padding-bottom: 32px; }

.pad-top-small { padding-top: 18px; }

.pad-top-medium { padding-top: 24px; }

.pad-top-large { padding-top: 32px; }

.pad-left-small { padding-left: 8px; }

.pad-right-small { padding-right: 8px; }

.pad-left-medium { padding-left: 12px; }

.pad-right-medium { padding-right: 12px; }

.pad-left-large { padding-left: 16px; }

.pad-right-large { padding-right: 16px; }

.pad-top-none { padding-top: 0; }

.pad-bottom-none { padding-bottom: 0; }

.pad-left-none { padding-left: 0; }

.pad-right-none { padding-right: 0; }

.border-bottom { border-bottom: 1px solid #bdbdbd; }

.border-top { border-top: 1px solid #bdbdbd; }

.border { border: 1px solid #bdbdbd; }

.border-rounded { border: 1px solid #bdbdbd; border-radius: 3px; }

.border-dotted { border: 1px dotted #bdbdbd; }

.border-dotted-rounder { border: 1px dotted #bdbdbd; border-radius: 3px; }

.border-none { border: 0; }

.margin-bottom-small { margin-bottom: 18px; }

.margin-bottom-medium { margin-bottom: 24px; }

.margin-bottom-large { margin-bottom: 32px; }

.margin-bottom-xlarge { margin-top: 64px; }

.margin-top-small { margin-top: 18px; }

.margin-top-medium { margin-top: 24px; }

.margin-top-large { margin-top: 32px; }

.margin-top-xlarge { margin-top: 42px; }

.margin-left-small { margin-left: 8px; }

.margin-right-small { margin-right: 8px; }

.margin-left-medium { margin-left: 12px; }

.margin-right-medium { margin-right: 12px; }

.margin-left-large { margin-left: 16px; }

.margin-right-large { margin-right: 16px; }

.margin-right-none { margin-right: 0; }

.margin-left-none { margin-left: 0; }

.margin-top-none { margin-top: 0; }

.margin-bottom-none { margin-bottom: 0; }

.capitalize { text-transform: capitalize; }

.display-block { display: block; }

.actions-row { -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding-top: 16px; margin-top: 18px; border-top: 1px solid #bdbdbd; }

.message-row { padding-top: 16px; }

span.align-center { text-align: center; }

span.nav-item { font-family: 'MontserratRegular'; color: #313439; padding-left: 6px; padding-right: 6px; padding-top: 3px; padding-bottom: 3px; margin-left: 4px; margin-right: 4px; font-size: 18px; text-align: center; }

span.nav-item.active { border-bottom: 2px solid #f03c69; }

.form { margin-bottom: 0; }
.form .row:last-child .form-item { margin-bottom: 24px; }
.form .form-item { margin-bottom: 24px; }

.row.gutters { margin-left: 0; margin-right: 0; }

.row.gutters > .row, .row.gutters > .col, .row.gutters > .row > .col { margin-left: 1%; margin-right: 1%; }

input.readonly { background: #f8f8f8; font-style: normal; }

input.readonly::-webkit-input-placeholder { color: #676b72; }

.button.hidden { color: #fff; background-color: #fff; position: relative; }
.button.hidden:hover { color: #fff; background-color: white; }
.button.hidden:disabled, .button.hidden.disabled { color: rgba(255, 255, 255, 0.7); background-color: rgba(255, 255, 255, 0.7); }
.button.hidden.outline { background: none; color: #fff; border-color: #fff; }
.button.hidden.outline:hover { color: rgba(255, 255, 255, 0.6); border-color: rgba(255, 255, 255, 0.5); }
.button.hidden.outline:disabled, .button.hidden.outline.disabled { background: none; color: rgba(255, 255, 255, 0.7); border-color: rgba(255, 255, 255, 0.5); }

@keyframes spinner { to { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }
@-webkit-keyframes spinner { to { -webkit-transform: rotate(360deg); } }
.spinner { min-width: 24px; min-height: 24px; }

.spinner:before { content: 'LoadingΓÇª'; position: absolute; top: 50%; left: 90%; width: 18px; height: 18px; margin-top: -10px; margin-left: -10px; }

.spinner:not(:required):before { content: ''; border-radius: 50%; border: 2px solid #f8f8f8; border-top-color: #313439; animation: spinner .6s linear infinite; -webkit-animation: spinner .6s linear infinite; }

button.spinner { color: transparent; }
button.spinner:hover { color: transparent; }
.img-area{
    /*background-color: rgb(0, 38, 111);*/
    background: #fff;
}
.kube-theme .pika-label { font-family: 'MontserratBold'; font-weight: normal; text-transform: uppercase; letter-spacing: .03em; }
.kube-theme .pika-label select { height: 20px; }
.kube-theme .pika-time-container { margin: 8px; }
.kube-theme .pika-table th { font-family: 'MontserratBold'; font-weight: normal; text-transform: uppercase; -webkit-font-feature-settings: "liga" 0; font-feature-settings: "liga" 0; background-color: #fff; color: #676b72; text-align: center; }
.kube-theme .pika-prev:hover, .kube-theme .pika-next:hover { background-color: #d4d4d4; }
.kube-theme .pika-select { font-family: 'MontserratBold'; text-transform: uppercase; font-weight: normal; color: #676b72; }
.kube-theme button.pika-day.pika-button { font-family: 'MontserratBold'; text-transform: uppercase; font-size: 16px; border: 0; border-radius: 2px; box-shadow: inset 0 1px 1px #fff; background: #fff; }
.kube-theme button.pika-day.pika-button .is-today.is-selected { color: #fff; background: #1c86f2; border-radius: 2px; }
.kube-theme button.pika-day.pika-button:hover { background-color: #35beb1; }
.kube-theme .is-selected button.pika-day.pika-button { font-family: 'MontserratBold'; text-transform: uppercase; font-size: 16px; border: 0; border-radius: 2px; box-shadow: inset 0 1px 1px #1c86f2; color: #fff; background: #1c86f2; }
.kube-theme .is-today button.pika-day.pika-button { font-family: 'MontserratBold'; text-transform: uppercase; font-size: 16px; border: 0; border-radius: 2px; box-shadow: inset 0 1px 1px #fff; background: #fff; color: #1c86f2; }
.kube-theme .is-selected.is-today button.pika-day.pika-button { font-family: 'MontserratBold'; text-transform: uppercase; font-size: 16px; border: 0; border-radius: 2px; box-shadow: inset 0 1px 1px #1c86f2; color: #fff; background: #1c86f2; }

.form-checkboxes label.checkbox { font-family: 'MontserratRegular'; font-weight: 300; font-size: 14px; }
.promo-content{
    width:90%;
    display:block;
    position:relative;
    margin-left:auto;
    margin-right:auto;
    color:#fff;
    padding-top:67px;
}

.promo-header{
    font-size:60px;
    font-weight:800;
    color:rgb(0, 38, 111);
    font-family: 'MontserratBold', sans-serif;
    width:85%
}

.promo-header .red{
    font-weight: 800;
    color:rgb(194, 40, 56);
    font-family: inherit;
}

.promo-header .orange{
    font-weight: 800;
    color: rgb(233, 133, 45);
    font-family: inherit;
}

.promo-text{
    color:rgb(98, 115, 128);
    font-size:18px;
    line-height: 30px;
    width:85%;
}

.promo-divider{
    margin-top:36px;
    margin-bottom:70px;
    border: solid 2px rgb(151, 151, 151);
    opacity: 0.23;
}

label{
    color: rgb(1, 22, 39);
    font-family: 'MontserratBold', sans-serif;
    font-size: 12px;
    text-transform: capitalize;
}
.form-checkboxes label.checkbox{
    font-family: 'MontserratRegular', sans-serif;
    color: rgb(1, 22, 39);
}

.button.survey{
    margin-top:48px;
    background-color: rgb(0, 164, 224);
    color: #fff;
    font-family: 'MontserratBold', sans-serif;
    border-radius: 25px;
    text-transform: capitalize;
}